<footer>
    <div class="f-info">
        <div class="f-info-socials">
             <a class="text-decoration-none text-reset" href="https://www.linkedin.com/in/ratnesh-namdeo0207/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a class="text-decoration-none text-reset" href="https://github.com/ratneshnamdeo0207" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a class="text-decoration-none text-reset" href="https://drive.google.com/file/d/1V0f_84TS0H0ru6iKcvR78hcinwj0KrvR/view?usp=drive_link" target="_blank"><i class="fa-solid fa-file-pdf"></i></a>
        </div>
        <div class="f-info-brand">Wanderlust Private Ltd.</div>
        <div class="f-info-links">
            <a href="/">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
